<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">

    <div class="brand">
      <h1>SELETO CLOUTING</h1>
      <p>Marketplace de roupas de marca</p>
    </div>

    <p class="acesse-label">Acesse sua conta</p>

    <div class="campo">
      <label for="input-usuario" class="campo-label">Usuário</label>
      <ion-input
        id="input-usuario"
        type="text"
        [(ngModel)]="username"
        (keyup.enter)="login()"
      ></ion-input>
    </div>

    <div class="campo">
      <label for="input-senha" class="campo-label">Senha</label>
      <ion-input
        id="input-senha"
        type="password"
        [(ngModel)]="password"
        (keyup.enter)="login()"
      ></ion-input>
    </div>

    <ion-button expand="block" class="login-button" (click)="login()">
      Entrar
    </ion-button>

  </div>
</ion-content>
